@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

h1 {
    font-family: "Dekko", cursive;
    font-style: normal;
  }

*{
  font-family: "Arial", cursive;
}
  
#ingredientes{
  background-color:rgb(255, 192, 76);
  text-decoration: none;
  color: black;
  
}

body{
    background-color:rgb(255, 223, 154) ;
    color: black;
}
a{
  text-decoration: none;
  text-align: left;
}
