@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

* {
    font-family: "Dekko", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
#ingredientes{ background-color:rgb(255, 192, 76);
}

body{
    background-color:rgb(255, 223, 154) ;
    color: black;
}
